@media print {
    @page {
        /* size: 210mm 297mm ;  */
        
        margin: 0mm;
        margin-right: 0mm; 
      }
      .pageContainer {
        width: 1100px;
        height: 800px;        
      }      
      table {
        zoom: 0.9;
      }
  }
