@media print {
    @page {
        size: portrait;
        margin: 0mm;
        margin-right: 0mm;
    }
    
    @page land {
        size: landscape !important;
        margin: 0mm;
        margin-right: 0mm;
    }
    .print-landscape {
        page: land;
    }
    .pageContainer {
        width: 1100px;
        height: 800px;
    }
    table {
        zoom: 0.85;
    }
    .zoomed-in-printing {
        zoom: 1.45;
    }
    .date-for-printing {
        display: block !important;
    }
    .hide-when-printing {
        display: none !important;
    }
    .show-only-when-printing {
        display: block !important;
    }
    .padding-top-when-not-printing {
        padding-top: 0 !important;
        margin-top: -50px;
    }
}

.date-for-printing {
    display: none;
    right: 40px;
    top: 40px;
    position: absolute;
    font-size: small;
}

.show-only-when-printing {
    display: none;
}

.padding-top-when-not-printing {
    padding-top: 40px;
}
